empy
python-dotenv
SQLAlchemy
PyMySQL
catkin_pkg
numpy<2.0.0
lark
lark-parser
Cython
setuptools
pyyaml
wheel
pytest
cryptography
transforms3d
jinja2
typeguard
bcrypt
rpi-lgpio
spidev
PyQt6
PyQt6-sip
opencv-python
ultralytics